# node_modules
node_modules

package-lock.json
yarn.lock

# dist
dist
*.zip
*.rar

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# editor
.vscode/
.idea/
.DS_Store
.history